/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

header h1, footer p {
    margin: 0;
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    flex: 1; /* Permite que la sección principal ocupe el espacio disponible */
}

section#payment-info {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#payment-info h2 {
    margin-top: 0;
    color: #4CAF50; /* Color verde para el encabezado */
}

section#payment-info p {
    font-size: 1.5rem; /* Tamaño de fuente más grande */
    margin: 1rem 0;
}

section#payment-info #payment-details {
    font-weight: bold;
    color: #FF5722; /* Color naranja para los detalles de pago */
}

section#payment-info #alias {
    font-size: 1.8rem; /* Tamaño de fuente más grande */
    font-weight: bold;
    color: #2196F3; /* Color azul para el alias */
    margin-top: 1rem;
}

section#contact {
    margin-top: 2rem;
}

section#contact p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
}

/* Botones */
button, .btn-pay {
    background-color: #4CAF50; /* Color verde para los botones */
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

button:hover, .btn-pay:hover {
    background-color: #45a049; /* Color verde más oscuro al pasar el ratón */
}

/* Responsividad */
@media (max-width: 600px) {
    section {
        padding: 1rem;
    }

    section#payment-info p {
        font-size: 1.2rem;
    }

    section#payment-info #alias {
        font-size: 1.5rem;
    }

    section#contact p {
        font-size: 1rem;
    }
}
